<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="250" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<p>
  Angular 2+
</p>
<p>Implement a timer that counts time in the format "HH: MM: SS"</p>
<p>The timer should have the following buttons:</p>
<p>* <b>“Start / Stop”</b> - starting / stopping time counting,</p>
<p>* <b>“Wait”</b> - followed by a quick press (the time between pressings is no more than 300 ms) the timer should stop counting the time,</p>
<p>* <b>"Reset"</b> - reset the timer to 0</p>
<p>Requirement: use Observables in the code.</p>

<div class="form-group">
  <button *ngFor="let button of buttons" class="btn btn-default" (click)="clicked('event')">{{button}}</button>
</div>
<div>
  <code *ngIf="isCurrent">Timer:
  <app-timer (eventTic)="eventTic($event)"  [index]="index" ></app-timer>
</code>
  <code *ngIf="!isCurrent">Timer: {{stateTime}}</code>

</div>
